/*-----------------------------------------------
|   Side Bar Search box
-----------------------------------------------*/
.side-bar-search-box {
  position: relative;
  .side-bar-search-input {
    width: 5rem;
    padding-left: 1.5rem;
    line-height: 1;
  }
  .side-bar-search-box-icon {
    z-index: 800;
    top: 50%;
    left: 0.9rem;
    transform: translateY(-48%);
  }
}
