@import url('https://rsms.me/inter/inter.css');
/*-----------------------------------------------
|   Font Sizes
-----------------------------------------------*/
@each $breakpoint in map_keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $index, $value in $font-sizes {
      .fs#{$infix}-#{$index} {
        font-size: $value;
      }
    }
  }
}

/*-----------------------------------------------
|   TODO: Proposed
-----------------------------------------------*/
.fsp-75 {
  font-size: 75%;
}

/*-----------------------------------------------
|   Text style
-----------------------------------------------*/

/*   Font Weight */
.font-weight-thin {
  font-weight: $font-weight-thin !important;
}
.font-weight-extra-light {
  font-weight: $font-weight-extra-light !important;
}
.font-weight-medium {
  font-weight: $font-weight-medium !important;
}
.font-weight-semi-bold {
  font-weight: $font-weight-semi-bold !important;
}
.font-weight-extra-bold {
  font-weight: $font-weight-extra-bold !important;
}
.font-weight-black {
  font-weight: $font-weight-black !important;
}

/* Decoration */
.text-underline {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}

.text-smallcaps {
  font-variant: small-caps;
}
.text-superscript {
  vertical-align: super;
}

.text-word-break {
  word-break: break-word;
}

/*-----------------------------------------------
|   Font family
-----------------------------------------------*/
//.text-serif { font-family: $font-family-serif; }
.text-sans-serif {
  font-family: $font-family-sans-serif;
}
.text-base {
  font-family: $font-family-base;
}

/*-----------------------------------------------
|   Contextual colors
-----------------------------------------------*/
@each $color, $value in $grays {
  @include text-emphasis-variant('.text-#{$color}', $value, true);
}

/*-----------------------------------------------
|   Colors for social icons
-----------------------------------------------*/
.text-facebook {
  color: $facebook;
}
.text-google-plus {
  color: $google-plus;
}
.text-twitter {
  color: $twitter;
}
.text-linkedin {
  color: $linkedin;
}
.text-youtube {
  color: $youtube;
}

/*-----------------------------------------------
|   Error Page
-----------------------------------------------*/
.fs-error {
  font-size: 7rem;
  @include media-breakpoint-up(sm) {
    font-size: 10rem;
  }
}

/*-----------------------------------------------
|   (The Investor's Game)
-----------------------------------------------*/

.text-title {
  color: $black-ig;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.text-sub-title {
  color: $grey-ig;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.text {
  color: $black-ig;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}

.p-lr{
  padding: 0 1.25rem;
  font-size: 1.44rem;
  color: black;
}

.logo{
  padding: 1rem;
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 34px;
/* identical to box height, or 121% */


color: #131523;
}

.my-inv{
  display: flex;
  justify-content: space-between;
  font-family: Inter;
  padding: 1.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: black; 
  width: 100%;
  margin-bottom: 2rem;
}

.pt-1r{
  padding-top: 1rem;
}

.width-fill{
  width: -webkit-fill-available;
  padding: 3rem;
  height: 66px;
  display: flex;
}

.d-flex{
  display: flex;
}

.w-100{
  width: 100%;
  justify-content: space-between;
}

.w-48{
  width: 48%;
}

.nav-t{
  justify-content: space-between;
  padding: 1rem 0 !important;
  margin: 1.1rem 0 !important;
}

.nav-top-p{
  color: black;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-top-card{
    padding: 2rem 3rem !important;
    display: flex;
    justify-content: space-between;
}

.asset{
    color: orange;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0 !important;
}

.time{
      color: orange;
    font-size: 1.24rem;
}

.w-20{
  width: 25%;
  justify-content: space-between;
}

.new-logo{
  font-family: Pin-up Two;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 34px;
/* identical to box height, or 121% */

letter-spacing: 2px;

color: #F6AD55;

border: 2px solid #783741;
text-shadow: 4px 4px 0px #783741;
}

.search{
  width: 92% !important;
  display: flex !important;
  border: 0px !important;
  background-color: #F9F4E9 !important;
}

